
<div class="body">
    <header>
        <h1 class="hi">Etudier en Barcelone</h1>
    </header>

    <div id="centre">
     

        <div class="main">
            <section id="accueil">
                <img src="assets/images/bar7.png" alt="france">
                <h2></h2>
               <p>Près de 20 000 étudiants internationaux viennent étudier à Barcelone chaque année, tombant amoureux de la ville
                    connue comme le cœur de l'art,
                    du sport et de la musique espagnols. Trouvez et comparez les diplômes à Barcelone ci-dessous</p>
                <span></span>
            </section> 
            <section id="prestations">
                <h2>Catégories</h2>
                <div class="service">
                    <img src="assets/images/bar1.png"alt="">
                    <h3> <strong>Le commerce</strong></h3>
                    <p>
                       
                    </p>
                </div>

                <div class="service">
                    <img src="assets/images/bar11.png"alt=""><br><br><br>
                    <h3><strong>Les beaux-arts</strong></h3>
                    <p>
                    </p>
                </div>
                
                <div class="service">
                    <img src="assets/images/bar2.webp"alt=""><br><br><br>
                    <h3><strong>La médecine</strong></h3>
                    <p>
                       </p>
                </div>
                &nbsp;  &nbsp;

               
                <div class="service">
                    <img src="assets/images/bar4.jpg" alt="">
                    <h3> <strong>Les sciences sociales</strong> </h3>
                    <p>
                       </p>
                </div>
               
                <div class="service">
                    <img src="assets/images/bar6.jpg" alt=""><br><br>
                    <h3> <strong>Les langues</strong> </h3>
                    <p>
                       </p>
                </div>
                   
                <div class="service">
                    <img src="assets/images/bar5.webp" alt=""><br><br>
                    <h3> <strong>logistique</strong> </h3>
                    <p>
                       </p>
                </div>
                <span></span>
            </section>

            <section id="galerie">
                <h2>Galerie</h2>
                <div class="test1">
                <img src="assets/images/bar12.jpg" alt="papillons"> &nbsp;
                <img  src="assets/images/bar8.jpg"alt="ballon"> <br>&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img class="v" src="assets/images/bar9.png" alt="plage">&nbsp;
               
            </div>
                <span></span>
            </section>
            <section id="contact">
                <h2>On y va ?</h2>
                <pre>                                                         <img src="assets/images/barcelone.png" alt=""><br><br></pre>                                                                             

        
            </section>







        </div>

    </div>

    


    
    <footer>
        <p>ProjetSem 2022 - &copy; - eniso</p>
    </footer>

</div>