

<div class="body">
    <header>
        <h1 class="hi">Etudier en France</h1>
    </header>

    <div id="centre">
     

        <div class="main">
            <section id="accueil">
                <img src="assets/images/f.jpg" alt="france">
                <h2></h2>
               <p>Etudier, vivre et travailler dans un pays sûr!<br>Étudier en Français ou en Anglais: un large choix de programmes d'études de premier cycle et de cycles supérieurs</p>
                <span></span>
            </section> 
            <section id="prestations">
                <h2>Catégories</h2>
                <div class="service">
                    <img src="assets/images/logop1.png"alt="">
                    <h3> <strong>Formation de l'ingénieu</strong>r</h3>
                    <p>Des compétences de pointe dans une des quatre spécialités suivantes :<br>

                       1. Génie physique <br>
                       2. Matériaux et nanotechnologies<br>
                       3. Systèmes informatiques embarqués<br>
                       4. Génie biologique</p>
                </div>

                <div class="service">
                    <img src="assets/images/lpgop2.jpg"alt=""><br><br><br>
                    <h3><strong>Santé</strong></h3>
                    <p>Accès aux études de santé :<br>
                         Filières Médecine, Maïeutique, Odontologie,
                         Pharmacie et Kinésithérapie (MMOP-K)</p>
                </div>

                <div class="service">
                    <img src="assets/images/logop3.jpg" alt=""><br><br>
                    <h3> <strong> licence Économie-gestion</strong> </h3>
                    <p> La licence Économie-gestion comprend 4 parcours  :<br>

                       1. Économie-gestion et gestion des entreprises <br>
                       2. Gestion des Ressources humaines dans les organisations <br>
                       3. Sciences comptables et Financiers (IUT) <br>
                       4. Contrôle et système d’information comptable, Sciences comptables et financières (IUT)</p>
                </div>
                <span></span>
            </section>

            <section id="galerie">
                <h2>Galerie</h2>
                <div class="test1">
                <img id="cc" src="assets/images/galeriep1.jpg" alt="papillons"> &nbsp;
                <img  src="assets/images/galeriep2.jpg"alt="ballon"> <br>&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <!-- <img class="v" src="assets/images/galeriep3.jpg" alt="plage">&nbsp; -->
                <img src="assets/images/galeriep4.jpg" alt="couple"> <br>&nbsp;
            </div>
                <span></span>
            </section>
            <section id="contact">
                <h2>On y va ?</h2>
                <pre>                                                         <img src="assets/images/paris copy.jpg" alt=""><br><br></pre>                                                                             

        
            </section>







        </div>

    </div>

    


    
    <footer>
        <p>ProjetSem 2022 - &copy; - eniso</p>
    </footer>

</div>


