

<div class="body">
    <header>
        <h1 class="hi">Etudier en Turkey</h1>
    </header>

    <div id="centre">
     

        <div class="main">
            <section id="accueil">
                <img src="assets/images/tur4.jpg" alt="france">
                <h2></h2>
               <p> La Turquie est un pays unique
                    avec ses merveilles naturelles, 
                   son histoire et sa culture.
                    Avec l’abondance des civilisations du passé,
                     la terre Turquie se trouve sur peut être
                      décrit comme un musée en plein air.
                       La Turquie, qui a porté la structure brillante
                        de chaque civilisation jusqu’à aujourd’hui,
                         attire l’attention du monde comme
                          un pays unique dans lequel 
                   l’art ,technologie et la culture sont sur un affichage constant.</p>
                <span></span>
            </section> 
            <section id="prestations">
                <h2>Catégories</h2>
                <div class="service">
                    <img src="assets/images/tur1.jpg"alt="">
                    <h3> <strong>MSc en génie informatique</strong></h3>
                    <p>
                       
                    </p>
                </div>

                <div class="service">
                    <img src="assets/images/tur2.jpg"alt=""><br><br><br>
                    <h3><strong>Msc Dans Les Systèmes D'information De Gestion</strong></h3>
                    <p>
                    </p>
                </div>
                
             
                &nbsp;  &nbsp;

               
                <div class="service">
                    <img src="assets/images/tur3.png" alt="">
                    <h3> <strong>Master en Entrepreneuriat et Management de l'Innovation</strong> </h3>
                    <p>
                       </p>
                </div>
               
               
                <span></span>
            </section>

            <section id="galerie">
                <h2>Galerie</h2>
                <div class="test1">
                <img src="assets/images/tur5.jpg" alt="papillons"> &nbsp;
                <img  src="assets/images/tur6.jpeg"alt="ballon"> <br>&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img class="v" src="assets/images/tur7.jpg" alt="plage">&nbsp;
               
            </div>
                <span></span>
            </section>
            <section id="contact">
                <h2>On y va ?</h2>
                <pre>                                    <img src="assets/images/istan.png" alt=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="assets/images/istanb.png" alt=""><br><br></pre> 
                                                                                          

        
            </section>







        </div>

    </div>

    


    
    <footer>
        <p>ProjetSem 2022 - &copy; - eniso</p>
    </footer>

</div>