
<div class="body">
    <header>
        <h1 class="hi">Etudier en London</h1>
    </header>

    <div id="centre">
     

        <div class="main">
            <section id="accueil">
                <img src="assets/images/lon6.jpg" alt="france">
                <h2></h2>
               <p>Chaque année, des dizaines de milliers d'étudiants partent étudier à Londres. Serez-vous l'un d'entre eux ?
                    Inscrivez-vous à un cours de courte durée pour donner un nouvel élan à votre anglais ou investissez dans votre avenir grâce
                     à un plus long programme de formation linguistique.
                    En étudiant à Londres, vous participerez à un mouvement populaire et garderez de votre séjour un souvenir inoubliable.</p>
                <span></span>
            </section> 
            <section id="prestations">
                <h2>Catégories</h2>
                <div class="service">
                    <img src="assets/images/lon2.jpeg"alt="">
                    <h3> <strong>MBA: Master’s of Business Administration</strong></h3>
                    <p>
                       
                    </p>
                </div>

                <div class="service">
                    <img src="assets/images/lon3.jpg"alt=""><br><br><br>
                    <h3><strong>MASTER’S DEGREE</strong></h3>
                    <p>
                        MASTER OF SCIENCE (MSC);&nbsp;<br>
                        MASTER OF RESEARCH (MRES)<br>
                        MASTER OF ARTS (MA)
                    </p>
                </div>
                
                <div class="service">
                    <img src="assets/images/lon1.jpg"alt=""><br><br><br>
                    <h3><strong>l'ingénierie</strong></h3>
                    <p>
                       1. Génie biomédical avec gestion des technologies de la santé (MSc)<br>
2. Structures de génie civil (MSc)<br>

3. Technologie et économie de l'énergie et de l'environnement (MSc)<br>


4. Génie mécanique (MSc)<br>

5. Gestion des énergies renouvelables et des systèmes d'alimentation (MSc)
                       </p>
                </div>
                &nbsp;  &nbsp;

               
    
         
                <span></span>
            </section>

            <section id="galerie">
                <h2>Galerie</h2>
                <div class="test1">
                <img src="assets/images/lon4.jpg" alt="papillons"> &nbsp;
                <img  src="assets/images/lon7.webp"alt="ballon"> <br>&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img class="v" src="assets/images/lon5.jpg" alt="plage">&nbsp;
               
            </div>
                <span></span>
            </section>
            <section id="contact">
                <h2>On y va ?</h2>
                <pre>                                                         <img src="assets/images/london.png" alt=""><br><br></pre>                                                                             

        
            </section>







        </div>

    </div>

    


    
    <footer>
        <p>ProjetSem 2022 - &copy; - eniso</p>
    </footer>

</div>