* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.body {
    max-width: 100vw;
    font-family: "Trebuchet MS";
    padding: 30px;
    background-color:#d8bfd8;
  }
  
  /* Header */
  header h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 70px;
    color: #fff;
  }
  
  /* Barre de navigation */
  div#centre aside {
    position: fixed;
    width: 12%;
    background-color: blanchedalmond;
    padding: 20px;
    border-radius: 10px 10px 10px 10px;
  }
  
  nav h3 {
    text-transform: uppercase;
    font-size: 25px;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    padding: 20px 0;
  }
  
  nav ul li a {
    text-decoration: none;
    color:#d8bfd8;
  }


  /* Zone centrale */
div#centre main {
    position: relative;
    left: 12%;
    max-width: calc(100vw - 20%);
  }
  
  span {
    display: block;
    border-bottom: 2px solid #d8bfd8;
    width: 50%;
    height: 1px;
    margin: 60px auto;
  }
  
  section {
    max-width: calc(100vw -50%);
    background-color: #fff;
    padding: 10px 30px;
  }
  
  h2 {
    font-size: 50px;
    text-align: center;
    padding-bottom: 80px;
  }
  p {
    padding: 5px 15%;
  }
  .hi{
      font-family:Georgia, 'Times New Roman', Times, serif;
  }












  /* section accueil */
section#accueil img {
    width: 50%;
    position:center;
 
text-align:center;
margin:auto;
display:flex;
  }
  section#accueil h2 {
    padding: 30px 0;
  }
  
  /* section prestations */
  section#prestations div {
    float: left;
    width: 33.33333%;
    text-align: center;
  }
  
  section#prestations span {
    clear: both;
    padding-top: 90px;
  }
  
  section#prestations div img {
    width: 30%;
  }
  
  section#prestations div h3 {
    font-size: 25px;
    margin: 20px 0 10px 0;
  }



  .main img{
    cursor: pointer;
    }
    .main #accueil img{
      transform: scale(1);
      transition: 0.3s ease-in-out;
    }
    .main #accueil:hover img{
      transform: scale(1.1);
    }
    




















  /* section galerie */
section#galerie img {
    width: 49%;
    display: inline;
  }
 
  /* section contact */
section#contact form {
    width: 50%;
    margin: 30px auto;
  }
  
  section#contact form label,
  section#contact form input {
    display: block;
    width: 100%;
  }
  
  section#contact form input {
    margin-bottom: 10px;
  }
  
  section#contact form button {
    display: block;
    margin: 20px auto;
    padding: 5px 20px;
    font-size: 16px;
    font-family: inherit;
    cursor: pointer;
  }
  
  section#contact form p {
    padding: 0;
  }
  
  /* footer */
  footer {
    color: #fff;
    text-align: center;
    padding: 20px;
  }