<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>

<div class="main">

  <h1 class="hi">Contactez nous</h1>
  <div class="border"></div>
  <form class="contact-form" action="index.html" method="post">
    <input type="text" class="contact-form-text" placeholder="Votre nom">
    <input type="email" class="contact-form-text" placeholder="Votre pr&eacute;nom">
    <input type="text" class="contact-form-text" placeholder="Votre num portable">
    <textarea class="contact-form-text" placeholder="Votre message"></textarea>
    <input type="submit" class="contact-form-btn" value="Envoyer ">
  </form>
</div>
       

<br>
      <section id="contacter">
        <div class="service">
           
            <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
            <h2>address</h2>
            <p>sousse
            </p>
            
        </div>

        <div class="service">
            <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
            <h2>Phone</h2>
            <p>53328118</p>
           
        </div>

        <div class="service">
           
        <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
        <h2>E-mail</h2>
        <p>hadilmlika@gmail.com <br>
          ranimtoumi@gmail.com<br>
        nouhaessid@gmail.com</p>

    
        </div>
        <span></span>
    </section>
            
    
