
<div class="hi">
  <div class="container">
    <div class="title">Inscription</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Prénom</span>
            <input type="text" placeholder="Enter your name" required>
          </div>
          <div class="input-box">
            <span class="details">Nom</span>
            <input type="text" placeholder="Enter your username" required>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" placeholder="Enter your email" required>
          </div>
          <div class="input-box">
            <span class="details">Numéro de portable</span>
            <input type="text" placeholder="Enter your number" required>
          </div>
          <div class="input-box">
            <span class="details">Mot de passe</span>
            <input type="text" placeholder="Enter your password" required>
          </div>
          <div class="input-box">
            <span class="details">Confirmer mot de passe</span>
            <input type="text" placeholder="Confirm your password" required>
          </div>


         
         



          <div class="input-box">
            <span class="details">Date de naissance:</span>
            <input type="date" name="date" id="date"required><br><br>
          </div> <br>

          <div class="input-box">
            
            <span class="details">Votre CV:</span>
          <input  type="file" name ="files" required><br> <br>
          </div>







   
        </div>
        <div class="gender-details">
            
         
          <input type="radio" name="gender" id="dot-1">
          <input type="radio" name="gender" id="dot-2">
          <input type="radio" name="gender" id="dot-3">
          <span class="gender-title">Satut</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Etudiant</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Enseignant</span>
          </label>
         
          </div>
        </div>
        <div class="button">
          <input type="submit" value="S'inscrire">
        </div>
      </form>
    </div>
  </div>
</div>

