<div class="title"> <br>
    <h2>Nos Services :</h2>
</div>
<div class="body">

<div class="container">
    <div class="box">
        <div class="icon">01</div>
        <div class="content">
            <h3> Conseil et orientation universitaire :</h3>
            <p>
               
On propose des services de conseil et d'orientation
 universitaire aux étudiants qui souhaitent
  poursuivre leurs études dans 
  des universités étrangère.
            </p>
            <a href="#">voir plus</a>
            



        </div>
    </div>

    <div class="box">
        <div class="icon">02</div>
        <div class="content">
            <h3> Hébergement</h3>
            <p>
               
                On propose des services aidant
                 les étudiants à trouver le logement
                  convenable et
                 facilitant leur intégration dans 
                 le pays étranger.
            </p>
            <a href="#">voir plus</a>
            



        </div>
    </div>


    <div class="box">
        <div class="icon">03</div>
        <div class="content">
            <h3> Suivi et supervision</h3>
            <p>
                Suivi et supervision
                On fournit un service de suivi et supervision:
                on envoie des rapports mensuels
                 sur le statut de l'étudiant aux parents.
            </p>
            <a href="#">voir plus</a>
            



        </div>
    </div>



</div>








</div>