

<div class="body">
    <header>
        <h1 class="hi">Etudier en Allemagne</h1>
    </header>

    <div id="centre">
     

        <div class="main">
            <section id="accueil">
                <img src="assets/images/all7.jpg" alt="france">
                <h2></h2>
               <p> Plus que 2500 spécialités disponibles en licence, mastère et doctorat.

                 Large choix des écoles de langue et des universités partenaires.
                
                 Inscription au test de langue et admission conditionnelle dans une université allemande à un prix imbattable !</p>
                <span></span>
            </section> 
            <section id="prestations">
                <h2>Catégories</h2>
                <div class="service">
                    <img src="assets/images/all3.jpg"alt="">
                    <h3> <strong>Electronique et Informatique Industrielle</strong></h3>
                    <p>
                       
                    </p>
                </div>

                <div class="service">
                    <img src="assets/images/all1.jpg"alt=""><br><br><br>
                    <h3><strong>Diplome d’ingénieur en informatique</strong></h3>
                    <p>
                    </p>
                </div>
                
                <div class="service">
                    <img src="assets/images/all6.jpg"alt=""><br><br><br>
                    <h3><strong>Economie/Gestion</strong></h3>
                    <p>Affaires européennes/Affaires internationales
                       </p>
                </div>
                &nbsp;  &nbsp;

               
                <div class="service">
                    <img src="assets/images/all5.png" alt="">
                    <h3> <strong>Architecture</strong> </h3>
                    <p>
                       </p>
                </div>
               
                <div class="service">
                    <img src="assets/images/all2.png" alt=""><br><br>
                    <h3> <strong>Business Management</strong> </h3>
                    <p>
                       </p>
                </div>
                   
                <div class="service">
                    <img src="assets/images/all4.webp" alt=""><br><br>
                    <h3> <strong>Chimie, procédés chimiques et biotechnologiques</strong> </h3>
                    <p>
                       </p>
                </div>
                <span></span>
            </section>

            <section id="galerie">
                <h2>Galerie</h2>
                <div class="test1">
                <img src="assets/images/all10.jpg" alt="papillons"> &nbsp;
                <img  src="assets/images/all8.jpg"alt="ballon"> <br>&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img class="v" src="assets/images/all11.jpg" alt="plage">&nbsp;
               
            </div>
                <span></span>
            </section>
            <section id="contact">
                <h2>On y va ?</h2>
                <pre>                                                         <img src="assets/images/all33.png" alt=""><br><br></pre>                                                                             

        
            </section>







        </div>

    </div>

    


    
    <footer>
        <p>ProjetSem 2022 - &copy; - eniso</p>
    </footer>

</div>