

<div class="body">
    <header>
        <h1 class="hi">Etudier en Canada</h1>
    </header>

    <div id="centre">
     

        <div class="main">
            <section id="accueil">
                <img src="assets/images/canada2.jpeg" alt="france">
                <h2></h2>
               <p>Etudier, vivre et travailler dans un pays sûr!<br>Étudier en Français ou en Anglais: un large choix de programmes d'études de premier cycle et de cycles supérieurs</p>
                <span></span>
            </section> 
            <section id="prestations">
                <h2>Catégories</h2>
                <div class="service">
                    <img src="assets/images/can6.jpg"alt="">
                    <h3> <strong>Faculté de pharmacie</strong></h3>
                    <p>
                        Une formation à l’avant-garde de la profession de pharmacien,
                         branchée sur la recherche et les milieux de pratique.
                    </p>
                </div>

                <div class="service">
                    <img src="assets/images/can3.jpg"alt=""><br><br><br>
                    <h3><strong>Faculté de droit</strong></h3>
                    <p>
                        Une formation de grande réputation forgée dans deux traditions juridiques : 
                        droit civil et common law.</p>
                </div>
                
                <div class="service">
                    <img src="assets/images/can4.jpg"alt=""><br><br><br>
                    <h3><strong>Polytechnique Montréal</strong></h3>
                    <p>
                        Cette école d’ingénierie propose des programmes de formation
                         en génie chimique, électrique, informatique, mécanique, physique, civil, etc.</p>
                </div>

                <div class="service">
                    <img src="assets/images/can5.jpg" alt=""><br><br>
                    <h3> <strong>  HEC Montréal</strong> </h3>
                    <p>
                        L’offre de formation de cette école de gestion comprend des programmes à tous les cycles d’études 
                        en administration des affaires, comptabilité, management, finance, etc.</p>
                </div>
                <span></span>
            </section>

            <section id="galerie">
                <h2>Galerie</h2>
                <div class="test1">
                <img src="assets/images/can7.jpg" alt="papillons"> &nbsp;
                <img  src="assets/images/can8.webp"alt="ballon"> <br>&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img class="v" src="assets/images/can9.jpg" alt="plage">&nbsp;
               
            </div>
                <span></span>
            </section>
            <section id="contact">
                <h2>On y va ?</h2>
                <pre>                                                         <img src="assets/images/canada.png" alt=""><br><br></pre>                                                                             

        
            </section>







        </div>

    </div>

    


    
    <footer>
        <p>ProjetSem 2022 - &copy; - eniso</p>
    </footer>

</div>