
    <div class ="main">
        <div class ="navbar">
            <div class ="icon">
                <h2 class ="logo" > Studying Abroad </h2> 
              
   
            </div>
                   
            <div class="menu">
                <ul> <li  ><input class="favorite styled" type="button" value="ACCUEIL" (click)="goToAccueil()"></li>
                   
                    <li  ><input class="favorite styled" type="button" value="INSCRIPTION" (click)="goToInscrip()"></li>
                    <li  ><input class="favorite styled" type="button" value=" SERVICES" (click)="goToServices()"></li>
                    <li  ><input class="favorite styled" type="button" value="PARTENAIRES" (click)="goToPartenaires()"></li>
                    <li  ><input class="favorite styled" type="button" value="CONTACT" (click)="goToContact()"></li>
                    <li  ><input class="favorite styled" type="button" value="CONNECTION" (click)="  goToLogin()"></li>
                   

                </ul>
            </div>
        </div>
            <div class ="content">
                <h1 class ="titre "> <span  class="text1">BETTER<br> EDUCATION <BR> FOR A BETTER WORLD</span></h1>
                    
               
                   
                  

            </div>
        
       
    </div>
    <body>
        <h2> <br>
          <pre>  <strong class="cc" > JE VEUX ETUDIER EN :</strong> </pre> <br>
        </h2>
        
<div class="main2">
        <section id="prestations">
           
            <h3 class="animtitre">France</h3> <br>
            <div class="card">
            <div class="image">&nbsp;&nbsp;
               
                <img src="assets/images/paris22.jpg" alt="">
               
               
            </div>
          
           
               <button  (click)=" goToFrance()">Read More...</button>
             
              </div>
        

            <h3 class="animtitre">Canada </h3>
            <div class="card">
                <div class="image">
                   
                    <img src="assets/images/ACCcanada.jpg" alt="">
                   
                   
                </div>
               
         
                   <button  (click)=" goToCanada()">Read More...</button>
                 
                  </div>
          
            <h3 class="animtitre">Allemagne</h3>&nbsp;
            <div class="card">
                <div class="image">
                   
                    <img src="assets/images/ACCallemagne.jpg" alt="hi">
                   
                </div>
              
                   
                
                 
                   <button  (click)=" goToAllemagne()">Read More...</button>
               
                  </div>
           
            <h3 class="animtitre">Barcelone</h3>
            <div class="card">

                <div class="image">
                    <img src="assets/images/ACCbarcelone.jpg" alt="">
                </div>
               
                <button  (click)=" goToBarcelone()">Read More...</button>
             
                </div>
            <h3 class="animtitre"> London</h3>
           
<div class="card">

    <div class="image">
        <img src="assets/images/ACClondon.jpg" alt="">
    </div>
   
  
    <button  (click)=" goToLondon()">Read More...</button>
   
    </div>
            <h3 class="animtitre">Turkey</h3>
            <div class="card">

                <div class="image">
                    <img src="assets/images/ACCistan.jpeg" alt="">
                </div>
             
                <button  (click)=" goToTurkey()"> Read More...</button>
              
                </div>
            <br>
            <span></span>
            <br><br>
        </section>
        </div>
        
        <!-- <footer>
            <p>   Copyright © 2022 Studying abroad . ALL rights reserved .  
            </p>
        </footer> -->
    
       


                
                 

           
            
      
    </body>
